{% extends "base.html" %}

{% block content %}
  <div class="uk-width-medium-3-4">
    <article class="uk-article">

      <h1 class="uk-article-title">{{ article.title }}</h1>

      {{ article.content }}

    </article>

    {% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
    <div class="comments">
      <h2>Comments</h2>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname = '{{ DISQUS_SITENAME }}';
        var disqus_identifier = '{{ article.url }}';
        var disqus_url = '{{ SITEURL }}/{{ article.url }}';
        (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the comments.</noscript>
    </div>
    {% endif %}
  </div>

  {% if article.toc %}
    <div class="uk-width-large-1-4">

          {% if article.not_sticky_toc != 'True' %}
            <div class="uk-sticky-placeholder" data-uk-sticky="{top:110}">
          {% endif %}
            <div class="uk-panel uk-panel-box toc" uk-navuk-nav-side data-uk-scrollspy-nav>
              {{ article.toc }}
            </div>
          {% if article.not_sticky_toc != 'True' %}
            </div>
          {% endif %}

      {% block after_toc %}{% endblock after_toc %}


    </div>
  {% endif %}
{% endblock content %}
