{% extends "base.html" %}
{% block content %}

  <div class="uk-width-medium-1-1">
    <div id='cover' class="uk-vertical-align uk-text-center cover uk-panel uk-panel-box uk-margin-remove" style="background-image: url('{{ SITEURL }}/static/images/cover.jpg');">
      <div class="uk-vertical-align-middle uk-width-1-1">
        <h1 class="front-page uk-heading-large">{{ page.title }}</h1>
      </div>
      <div class="uk-vertical-align-bottom uk-float-right" style="margin-top: -10px">
        <p>
          <a href="https://www.flickr.com/photos/50144889@N08/8722005632/" title="Westminster and the London Eye, Panorama. by [Robert Pittman], on Flickr">[Robert Pittman]</a>
          <a href="https://creativecommons.org/licenses/by-nd/2.0/">Some rights reserved</a>
        </p>
      </div>
    </div>
  </div>

  <div class="uk-grid" data-uk-grid-margin>

    <div class="uk-width-medium-3-4">
      {{ page.content }}

      <h2>News and Updates</h2>
      <ul>
        {% for article in articles %}
          {% if  article.news_headline %}
            <li>
              {{ article.locale_date }}:
              <a href="{{ SITEURL }}/{{ article.url }}">{{ article.news_headline }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="uk-width-medium-1-4 uk-visible-large">
      <div class="uk-sticky-placeholder" style="height: 270px;">
        <div class="uk-panel uk-panel-box" data-uk-sticky="{top:35}">
          <h2 class="uk-h3">Important dates</h2>
          <p>
            <ul class="uk-list uk-list-line">
              <!-- <li><strong>10th October 2014</strong> Workshop proposals due</li> -->
              <!-- <li><strong>17th October 2014</strong> Workshop notification of acceptance</li> -->
              <!-- <li><strong>1st December 2014</strong> Workshop descriptions due</li> -->
              <li><strong>16th December 2014</strong> Paper submissions due (long and short)</li>
              <li><strong>2nd February 2015</strong> Paper notification of acceptance</li>
              <li><strong>25th Feburary 2015</strong> Camera-ready papers due</li>
              <li><strong>1st March 201</strong> Full workshop material due</li>
              <li><strong>14th April 2015</strong> Workshops</li>
              <li><strong>15-17 April 2015</strong> Main conference</li>
            </ul>
          </p>
        </div>
      </div>
    </div>

{% endblock content %}
